{% extends "layout.html" %}
{% block content %}
<img src="https://i.imgur.com/Q34F4j5.png" style="height:100px;display:block;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px">
<h1 style="color:#f26e21; font-weight:bold; text-align:center">Gold Charts</h1>
<h2 style="color:#0065ad;text-align:center">Price Graph</h2>
<iframe width=100% height="800" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/1.embed"></iframe>
<h2 style="color:#0065ad;text-align:center">Returns Graph</h2>
<iframe width=100% height="800" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/3.embed"></iframe>
<div class="container">
    <div class="row">
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/5.embed"></iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/7.embed"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 style="text-align:center">Annualized Volatility Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/4.embed"></iframe>
        </div>
        <div class="col">
            <h5 style="text-align:center">Trailing 1-Year Volatility Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/6.embed"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/9.embed"></iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/11.embed"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 style="text-align:center">Largest Daily Return Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/8.embed"></iframe>
        </div>
        <div class="col">
            <h5 style="text-align:center">Largest Annual Return Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~mclarkuga/10.embed"></iframe>
        </div>
    </div>
</div>
{% endblock content %}
