{% extends "layout.html" %}
{% block content %}
<img src="https://i.imgur.com/0ZoWMHy.png" class="pagelogo">
<h1 class="pageh1">Crude Oil Charts</h1>
<h2 class="pageh2">Price Graph</h2>
<iframe width=100% height="800" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/1.embed"></iframe>
<h2 class="pageh2">Returns Graph</h2>
<iframe width=100% height="800" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/16.embed"></iframe>
<div class="container">
    <div class="row">
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/19.embed"></iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/21.embed"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="tableheader">Annualized Volatility Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/18.embed"></iframe>
        </div>
        <div class="col">
            <h5 class="tableheader">Trailing 1-Year Volatility Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/20.embed"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/23.embed"></iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="500" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/25.embed"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="tableheader">Largest Daily Return Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/22.embed"></iframe>
        </div>
        <div class="col">
            <h5 class="tableheader">Largest Annual Return Table</h5>
            <iframe width="100%" height="200" frameborder="0" scrolling="no" src="//plot.ly/~atlgouda/24.embed"></iframe>
        </div>
    </div>
</div>
{% endblock content %}
