{% extends "layout.html" %}
{% block content %}
<h1 class="pageh1">{{ contract_family }} Charts</h1>
<h2 class="pageh2">Price</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {{ chart }}
        </div>
    </div>
</div>
<h2 class="pageh2">Returns</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {{ chart_ret }}
        </div>
    </div>
</div>
<h2 class="pageh2">Annualized Volatility</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {{ chart_ann_vol }}
        </div>
    </div>
</div>
<h2 class="pageh2">Trailing 1-Year Volatility</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {{ chart_tr_1yr }}
        </div>
    </div>
</div>
<h2 class="pageh2">Largest Daily Return</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {{ chart_daily_ret }}
        </div>
    </div>
</div>
<h2 class="pageh2">Largest Annual Return</h2>
<div class="container">
    <div class="row">
        <div class="col">
            {{ chart_annual_ret }}
        </div>
    </div>
</div>
{% endblock content %}
