{% extends "layout.html" %}
{% block content %}
<div class="homediv">
<h1 class="homeh1">Contract Roots</h1>
    <div class="text-center">
        <a href="/charts/ES">
            <img src="https://i.imgur.com/x4AHsuz.png" class="homelogo"></a>
        <a href="/charts/NQ">
            <img src="https://i.imgur.com/4IpNlfE.png" class="homelogo"></a>
        <a href="/charts/CL">
            <img src="https://i.imgur.com/ocFMa41.png" class="homelogo"></a>
        <a href="/charts/NG">
            <img src="https://i.imgur.com/popTwLN.png" class="homelogo"></a>
        <a href="/charts/GC">
            <img src="https://i.imgur.com/Q34F4j5.png" class="homelogo"></a>
    </div>
</div>
{% endblock content %}
